@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
  span {
    font: 14px italic;
  }
  h3 {
      font-size: 24px;
    }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.navbar-default {
  background: #fff;
  border:none;
  opacity: 0.9;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
  .navbar-brand {
    color:#2F4F4F
;
  }
  .navbar-nav{
    > li {
      display: inline;
      > a {
        color: #2F4F4F;
        font-size: 12px;
        font-weight: bold;
        padding: 14px 10px;
        text-transform: uppercase;
      }
    }
  }
}

/* forms */
.search-box {
  width: 200px;
  left: 300px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* questions */
.questions-list {
  margin-top: 5px;
  width: 900px;
  margin: 0 auto;
  .question-prev {
    padding: 10px;
    border-bottom: 1px solid #A9A9A9;
  }
}
.question {
  width: 900px;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 1px solid #A9A9A9;
  .text {
    margin-top: 15px;
  }
  ul {
    li {
      margin-right: 15px;
      display: inline;
      list-style-type: none;
    }
  }
}
.edit_question { display: none }

/* answers */
.answers-box {
  width: 900px;
  margin: 30px auto;
  .answers {
    h4 {
      margin-bottom: 25px;
    }
    .edit_answer { display: none }
    .answer {
      background-color: #FFFFF0;
      margin-bottom: 25px;
      padding-bottom: 15px;
      ul {
        li {
          margin-right: 15px;
          display: inline;
          list-style-type: none;
        }
      }
    }
  }
}

.comments {
  p {
    font-size: 14px;
  }
  margin: 20px 20px 10px;
}

.marked-best:before {
  content: "Best answer ✓";
  background-color: #32CD32;
}
.subscribed:before {
  content: "you have subscribed to question";
  background-color: #32CD32;
}


/* comments */
.new_comment {
  display: none;
}

